#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-light-blue);
}

#contact > h2 {
    color: var(--text-dark-blue-color);
    font-size: var(--fs-normal);
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact > h2::before {
    content: 'Let\'s meow?';
    position: absolute;
    top: -1.2rem;
    left: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    width: 100%;
    text-align: center; 
}

#contact > h2::after {
    content: "";
    position: absolute;
    bottom: -0.8rem;
    margin: 0 auto;
    width: 80%;
    height: 3px;
    background-color: currentColor;
    text-align: center;
}



.contact-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 250px));
    grid-template-rows: repeat(5, 43px);
    grid-template-areas: 
        "name email"
        "message message"
        "message message"
        "message message"
        "button  .....";
    row-gap: 1.75rem;
    column-gap: 1rem;
}

.name-field {
    grid-area: name;
}

.email-field {
    grid-area: email;
}

.message-field {
    grid-area: message;
}

.send-btn {
    grid-area: button;
    background-color: var(--button-background-blue);
    font-size: var(--fs-small);
    color: var(--foreground-light-color);
    border-radius: .5rem;
    transition: opacity 150ms ease-in-out;
}

.send-btn > span {
    margin-right: 1rem;
}

.send-btn:hover {
    opacity: .7;
}

.send-btn:disabled {
    cursor: not-allowed;
}


.field {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-color: var(--foreground-light-color);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.1);
}

.field > input, .field > textarea {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    outline: none;
    border: none;
    background: transparent;
    color: var(--text-dark-color);
    padding: .75rem;
    font-size: var(--fs-small);
}

.message-field > textarea {
    resize: none;
}

.custom-placeholder {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 1.2em;
    transition: 250ms ease-in-out;
}

.custom-placeholder.hold, 
.field > input:focus + .custom-placeholder, 
.field > textarea:focus + .custom-placeholder {
    top: -25px;
    left: 3px;
    font-size: 1em;
}

.contact-methods {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-method {
    padding: .5rem .75rem; 
    background-color: var(--foreground-dark-color);
    border-radius: .5rem;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.1);

    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: repeat(2, 35px);
    grid-template-areas: 
        "icon name"
        "icon text"
    ;
    column-gap: .75rem;
    transition: 250ms ease;
}

.contact-method:hover {
    transform: translateX(10px);
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.2);
}

.method-icon {
    grid-area: icon;
    place-self: center;
    font-size: var(--fs-normal);
    color: var(--button-background-blue);
}

.contact-method:nth-child(2) > .method-icon {
    transform: rotateY(180deg);
}

.method-name {
    grid-area: name;
    font-size: var(--fs-semi-normal);
    color: var(--text-black-color);
}

.method-text {
    grid-area: text;
    color: var(--text-black-color);
}

@media screen and (max-width: 970px) {
    #contact {
        height: max-content;
        padding: 2rem 0;
    }
}

@media screen and (max-width: 750px) {
}
@media screen and (max-width: 550px) {
    .contact-form {
        grid-template-columns: minmax(250px, 500px);
        grid-template-rows: repeat(5, 40px);
        grid-template-areas: 
            "name"
            "email"
            "message"
            "message"
            "button"
    }
    .method-name {
        font-size: 1.15rem;
    }

    .method-text {
        font-size: 1rem;
    }
}