#home {
    background-color: var(--background-light-blue);
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    overflow: hidden;
}

#home::before {
    content: "";
    position: absolute;
    right: -15%;
    top: -15%;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(var(--footer-text-blue-color), var(--foreground-dark-color));
}

#home::after {
    content: "";
    position: absolute;
    left: -25%;
    bottom: -55%;
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
    background: linear-gradient(35deg, var(--footer-text-blue-color), var(--footer-text-white-color));
    z-index: 1;
}

.home-left {
    flex: 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home-right {
    flex: 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-image {
    width: 350px;
    height: 350px;
    overflow: hidden;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    background-image: url(../../public/portrait.png);
    background-position: center 35%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--foreground-dark-color);
}

.greeting {
    width: 65%;
}

.greeting > h2 {
    font-size: var(--fs-huge);
    font-weight: bold;
    color: var(--text-foreground-color);
    margin-bottom: 36px;
}

.my-name {
    color: var(--button-background-blue);
}

.position {
    font-size: var(--fs-normal);
    color: var(--text-foreground-color);
    margin-bottom: 12px;
}

.greeting-text {
    font-size: var(--fs-small);
    color: var(--text-foreground-color);
}

.contact-and-social {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:min-content;
    gap: 1rem;
}

.contact-button {
    font-size: var(--fs-semi-normal);
    padding: .5rem 1rem;
    background-color: var(--header-background-color-dark);
    color: var(--foreground-light-color);
    border-radius: .5rem;
    transition: opacity 200ms ease;
}

.contact-button > span {
    margin-right: 1rem;
}

.contact-button:hover {
    opacity: .7;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--header-background-color-dark);
    position: relative;
}

.comment-box {
    position: absolute;
    top: -7rem;
    right: -7rem;
    font-size: 7rem;
    fill:  var(--header-background-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;

    transform-origin: bottom left;
    animation: commentTilt 1s alternate-reverse infinite;
}

.comment-text {
    position: absolute;
    left: 2rem;
    font-size: var(--fs-small);
    color: var(--foreground-light-color);
}

.scroll-indicator {
    position: absolute;
    bottom: -7rem;
    right: .35rem;
    transition: transform 150ms ease;
}

.paws {
    height: 100px;
    width: 45px;
    background: transparent;
}

.paw {
    width: 24px;
    height: auto;
    position: absolute;
    animation: pawStep 3s ease-in-out infinite;
    fill: var(--accent-blue);
}


.paw-1 {
    top: 0;
    left: 0;
    animation-delay: 0;
}

.paw-2 {
    top: 1.5rem;
    right: 0;
    animation-delay: 400ms;
}

.paw-3 {
    top: 3rem;
    left: 0;
    animation-delay: 800ms;
}

.paw-4 {
    top: 4.5rem;
    right: 0;
    animation-delay: 1200ms;
}

.paw-5 {
    top: 6rem;
    left: 0;
    animation-delay: 1600ms;
}

@keyframes commentTilt {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes pawStep {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0
    }
}

@media screen and (max-width: 860px) {
    .home-left {
        flex: 1;
    }

    .home-right {
        flex: 1;
    }

    .greeting {
        width: 100%;
    }

    .social-links {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #home {
        gap: 1rem;
    }
    .home-left {
        justify-content: center;
        align-items: flex-end;
    }

    .home-right {
        justify-content: center;
        align-items: flex-start;
    }

    .profile-image {
        width: 250px;
        height: 250px;
    }

    .greeting > h2 {
        font-size: var(--fs-semi-big);
    }

    .position {
        font-size: var(--fs-semi-normal);
    }

    .contact-and-social {
        justify-content: space-between;
        align-items: center;
    }

    .contact-button {
        font-size: var(--fs-small);
    }

    .social-links {
        display: flex;
        gap: .5rem;
    }

    .comment-box {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    #home {
        flex-direction: column;
    }

    .home-left {
        padding-top: 3rem;
    }

    .home-right {
        text-align: center;
    }

    .greeting > h2 {
        margin-bottom: 1rem;
    }

    .contact-and-social {
        justify-content: space-evenly;
    }
}