.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--header-background-color-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 3rem;
    z-index: 100;
}

.logo-container {
    width: 10rem;
    height: 5rem;
}

.logo {
    width: 100%;
    height: 100%;
    background-image: url('../../public/nyan-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    gap: 1.5rem;
    position: relative;
}

.nav-links > li a {
    text-decoration: none;
    font-size: var(--fs-small);
    color: var(--foreground-light-color);
    padding: .25rem .5rem;
    border-radius: .5rem;
    transition: background-color, color, 250ms ease-in-out;
}

.nav-links > li a:not(.active):hover {
    background-color: var(--background-light-blue);
    color: var(--text-dark-blue-color);
}

.dark .nav-links > li a:not(.active):hover {
    background-color: var(--header-background-color-dark);
}

.nav-links > li a.active {
    background-color: var(--accent-blue);
}

.theme-toggle-btn {
    width: 60px;
    height: 33px;
    border-radius: 1000vh;
    cursor: pointer;
    outline: none;
    background: #fff;
    border: 1px solid var(--accented-dark-blue);
    position: relative;
}

.dark .theme-toggle-btn {
    background-color: var(--text-black-color);
}

.theme-circle {
    display: block;
    background: transparent;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 3px;
    margin-left: 3px;
    
    transition: transform 250ms ease-in-out;
}

.dark .theme-circle {
    transform: translateX(27px);
}

.sun, .moon {
    fill: orange;
}

.dark .sun, .dark .moon {
    fill: #c4a700;
}

.bars {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(66, 153, 225, .4);
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 250ms ease;
    border-radius: .25rem;
    margin-left: 3px;
}

.bars:hover {
    opacity: 0.8;
}

.bar {
    position: absolute;
    display: block;
    width: 70%;
    height: 3px;
    background: white;
    transition: top, transform, 250ms ease-in-out;
}

.bar:first-child {
    transform: translateY(-0.7rem);
}

.bar:last-child {
    transform: translateY(0.7rem);
}

.dropdown-active .bar:nth-child(2) {
    transform: scale(0);
}

.dropdown-active .bar:first-child {
    transform: rotate(45deg);
}

.dropdown-active .bar:last-child {
    transform: rotate(-45deg);
}

@media screen and (max-width: 900px) {
    .header {
        justify-content: center;
    }
    .logo-container {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .header {
        justify-content: space-between;
        padding: .5rem 1rem;
    }

    .logo-container {
        display: initial;
    }

    .nav-links {
        position: fixed;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        background-color: var(--accented-dark-blue);
        opacity: 0;
        pointer-events: none;
        transform: scale(0);
        transform-origin: top right;
        z-index: 1100;

        transition: opacity, transform, 350ms ease;
    }

    .dark .nav-links {
        background-color: var(--background-light-blue) ;
    }

    .dropdown-active .nav-links {
        opacity: 1;
        pointer-events: all;
        transform: scale(1)
    }

    .bars {
        display: flex;
        z-index: 1100;
    }
}

@media screen and (max-width: 550px) {
    .logo-container {
        width: 9rem;
        height: 3.5rem;
    }
}