.swiper-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 1rem 3rem;
}

.project-image-container {
    width: 250px;
    height: 200px;
    background-color: blue;
}

.project-image {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}


.project-data {
    max-width: 350px;
}

.project-data > .title {
    font-size: var(--fs-semi-normal);
    margin-bottom: 1rem;
    color: var(--accented-dark-blue);
    font-weight: 700;
}

.project-data > .description {
    font-size: var(--fs-small);
    margin-bottom: 1rem;
    color: var(--text-dark-blue-color);
}

.demo-btn {
    font-size: var(--fs-semi-normal);
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: var(--button-background-blue);
    color: var(--foreground-light-color);
    font-weight: bold;

    transition: opacity 150ms ease-in-out;
}

.demo-btn:hover {
    opacity: .7;
}

@media screen and (max-width: 860px) {
    .swiper-data {
        flex-direction: column;
        padding: 0;
    }
    .project-image {
        width: 350px;
        height: 200px;
    }
}

@media screen and (max-width: 750px) {
    .project-image {
        width: 300px;
        height: 170px;
    }

    .project-data {
        max-width: 300px;
    }
}

@media screen and (max-width: 550px) {

    .project-image {
        width: 230px;
        height: 140px;
    }

    .project-data {
        max-width: 230px;
    }
}