#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-light-blue);
}

#skills > h2 {
    font-size: var(--fs-normal);
    color: var(--text-dark-blue-color);
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills > h2::before {
    content: 'What I learned?';
    position: absolute;
    top: -1.2rem;
    left: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    width: 100%;
    text-align: center; 
}

#skills > h2::after {
    content: "";
    position: absolute;
    bottom: -0.8rem;
    margin: 0 auto;
    width: 80%;
    height: 3px;
    background-color: currentColor;
    text-align: center;
}

.skill-sets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.set {
    width: 330px;
    padding: 1.5rem;
    background-color: var(--card-background-color);
    color: var(--header-background-color-dark);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    border-radius: .5rem;
    color: var(--text-foreground-color);
    transition: 250ms ease;

    opacity: 0;
    transform: translateY(100px);
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.set:first-of-type {
    transition-delay: 300ms;
}

.set:nth-of-type(2) {
    transition-delay: 400ms;
}

.set:nth-of-type(3) {
    transition-delay: 500ms;
}

#skills.visible .set {
    opacity: 1;
    transform: translateY(0px);
}

.set:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
}

.set-header {
    color: inherit;
    font-size: var(--fs-semi-normal);
}

.set-header > span {
    margin-left: 1rem;
}

.learned-items {
    margin-top: 1.25rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    width: 100%;
}

.item {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: c;
}

.item-name {
    z-index: 3;
    padding: 0 .5rem;
    background-color: var(--card-background-color);
}

.dot {
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: currentColor;
    transform: translateY(7px);
    z-index: 2;
}

.line {
    position: absolute;
    width: 300px;
    height: 1px;
    transform: translateY(12px);
    background-color: var(--foreground-dark-color);
    z-index: -1;
}



@media screen and (max-width: 860px) {
    
}

@media screen and (max-width: 750px) {
}
@media screen and (max-width: 550px) {

}