@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --header-background-color-dark: #2A4365;
  --foreground-light-color: #F7FAFC;
  --card-background-color: #F7FAFC;
  --foreground-dark-color: #CBD5E0;
  --background-light-blue: #EDF2F7;
  --background-light-white: #fff;
  --text-dark-color: #4A5568;
  --text-dark-blue-color: #2D3748;
  --text-black-color: #1A202C;
  --accent-blue: #4299E1;
  --accented-dark-blue: #2B6CB0;
  --text-foreground-color: #4A5568;
  --button-background-blue: #4299E1;
  --footer-text-white-color: #3a5f74;
  --footer-text-blue-color: #90CDF4;

  --fs-small: 18px;
  --fs-semi-normal: 24px;
  --fs-normal: 36px;
  --fs-semi-big: 40px;
  --fs-big: 48px;
  --fs-huge: 60px;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100w;
  position: relative;
}

.portfolio-app.dark {
  --header-background-color-dark: #2A4365;
  --card-background-color:  #4A5568;
  --foreground-dark-color: #CBD5E0;
  --background-light-blue: #1A202C;
  --background-light-white: #1A202C;
  --text-dark-color:  #4A5568;
  --text-dark-blue-color: #EBF8FF;
  --text-black-color: #4A5568;
  --accent-blue: #4299E1;
  --accented-dark-blue: #2B6CB0;
  --text-foreground-color:  #F7FAFC;
  --button-background-blue: #4299E1;
  --footer-text-white-color: #EBF8FF;
  --footer-text-blue-color: #90CDF4; 
}


section {
  height: 100vh;
  width: 100%;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 560px) {
  section { 
    height: max-content;
    padding: 3rem .5rem;
  }
}